@import '../../styles/variables.scss';

.detailIntro {
  margin-top: -70px;
  
  .about {
    margin: 20px auto;

    h3 {
      margin-bottom: 20px;;
    }
  }

  .education {
    margin: 20px auto;

    h3 {
      margin-bottom: 20px;;
    }

    .experience {
      display: flex;
      margin-bottom: 20px;

      .year {
        width: 10%;
        font-weight: bold;
      }

      .describe {
        width: 90%;
        background-color: $gray;
        padding: 10px 5px;
        .title {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }
  }
}